[submodule "Logger"]
	path = Logger
	url = git@github.com:sw4sys/lv-logger.git
	branch = library
[submodule "PythonWrapper"]
	path = PythonWrapper
	url = git@github.com:sw4sys/lv-python-wrapper.git
	branch = library
[submodule "PathUtils"]
	path = PathUtils
	url = git@github.com:sw4sys/lv-path-utils.git
	branch = library
[submodule "DateTime"]
	path = DateTime
	url = git@github.com:sw4sys/lv-date-time.git
	branch = library
